header,
.headline-section,
footer,
.food-sections-seperator,
.article-section {
  padding: var(--padding-content);
}

main {
  position: relative;
  flex: 1;
}

button {
  line-height: 1;
  cursor: pointer;
  padding: 0;
}

/* #region header */
header {
  position: fixed;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(231, 108, 31, 0.9);
  height: 100px;
  z-index: 1;
}

header nav {
  display: flex;
  gap: 48px;
}

header img {
  padding-left: 48px;
  padding-right: 48px;
}

/* #endregion */

/* #region section start */

.start {
  height: min(100dvh, 1000px);
}

.hero {
  height: 650px;
  margin: 0px var(--content-limitation);
  background-image: url(./assets/img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.burger-logo {
  position: absolute;
  top: 500px;

  display: flex;
  justify-self: center;
  height: 200px;
  width: 200px;

  border: 12px solid var(--beige-light);
  border-radius: 100%;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}

.headline-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 80px;
  padding-bottom: 80px;
}

.headline-rating-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.rating-box {
  display: flex;
  align-items: center;

  padding: 4px 4px;
  gap: 8px;

  background-color: var(--beige-dark);
  border-radius: 4px;
}

.rating-box img {
  height: 24px;
  width: 24px;
}

/* #endregion */

/* #region footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 120px;
  background-color: var(--orange);
}

.copyright-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.copyright-container img {
  width: 24px;
  height: 24px;
}

/* #endregion */

.menu-bar {
  position: sticky;
  bottom: 0;
  display: none;
  align-items: center;

  width: 100%;
  height: 80px;
  background-color: var(--grey-dark);
}

.menu-bar nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.menu-bar button {
  background-color: transparent;
  border: none;
}

.menu-bar button:hover {
  filter: invert(47%) sepia(94%) saturate(1947%) hue-rotate(352deg)
    brightness(96%) contrast(88%);
}

.menu-bar button:active {
  filter: invert(47%) sepia(94%) saturate(1947%) hue-rotate(352deg)
    brightness(96%) contrast(88%);
  /* background-color: white; */
}

.menu-bar button img {
  width: 22px;
  height: 24px;
}

/* #region responsive */

@media screen and (max-width: 768px) {
  header {
    position: unset;
    justify-content: start;
    background-color: rgba(231, 108, 31, 1);
    height: 80px;
    z-index: 0;
  }

  header nav {
    display: none;
  }

  header img:first-child {
    padding: 0 0;
  }

  header img:last-child {
    display: none;
  }

  .start {
    height: unset;
  }

  .hero {
    height: 350px;
    border-radius: 16px;
    margin: 24px 16px;
    background-image: url(./assets/img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .headline-section {
    padding-top: 48px;
    padding-bottom: 32px;
  }

  .headline-rating-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;
  }

  .burger-logo {
    top: 280px;

    display: flex;
    justify-self: center;
    width: 120px;
    height: 120px;
  }

  footer {
    flex-direction: column-reverse;
    gap: 10px;
    margin-top: 64px;
  }
  .menu-bar {
    display: flex;
    z-index: 1;
  }
}
/* #endregion */
