/* #region dish-sections */

.content-wrapper {
  position: relative;
}

.basket-wrapper {
  position: absolute;
  width: 400px;
  top: 0;
  bottom: 0;
  right: var(--padding-content-x);
}

.food-sections-seperator {
  display: flex;
  align-items: center;
  gap: 24px;
  height: 60px;
  background-color: var(--orange);
  overflow-y: visible;
  width: 100%;
}

.food-sections-seperator img {
  bottom: 0px;
  left: 250px;
  width: 90px;
  height: 90px;
}

.h2-container img {
  align-items: flex-end;
}

.article-section {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 64px;
  gap: 16px;
}

.dish-container {
  display: flex;
  padding: 10px;
  gap: 15px;
  width: 720px;
  border-radius: var(--border-radius-dish);
  background-color: var(--beige-light);
}

.dish-container:hover {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
}

.dish-container img {
  width: 200px;
  height: 120px;
  border-radius: var(--border-radius-dish);
  object-fit: cover;
}

.black-burger {
  object-position: 0% 70%;
}

.zoom-img-container {
  width: 200px;
  height: 120px;
  border-radius: var(--border-radius-dish);
  overflow: hidden;
}

.red-burger {
  object-position: -15px -30px;

  zoom: 1.6;
}

.margherita {
  object-position: -50px -30px;
  zoom: 1.6;
}

.aragula-salad {
  object-position: -40px -30px;

  zoom: 1.4;
}

.mini-green-salad {
  object-position: -25px -10px;

  zoom: 1.3;
}

.dish-container-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dish-container-left-top {
  display: flex;
  justify-content: space-between;
}

.dish-ingredients {
  width: 35ch;
  line-height: 1.3;
}

.add-to-basket-btn {
  align-self: flex-end;
  padding: 5px 8px;
  border-radius: 20px;

  background-color: white;
  border: none;
}

.add-to-basket-btn:hover {
  color: var(--orange);
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.2));
}

/* #endregion */

/* #region order-basket */

button {
  line-height: 1;
  cursor: pointer;
  padding: 0;
}

.order-basket {
  position: sticky;
  top: 144px;

  height: 750px;
  width: 400px;
  left: calc(100dvw - 400px - var(--padding-content-x));

  display: flex;
  flex-direction: column;

  padding: 48px 32px;
  background-color: var(--grey-dark);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
}

.order-basket-closed {
  display: none;
}

.order-basket--empty {
  gap: 48px;
  align-items: center;
  text-align: center;
}

.order-basket--full {
  gap: 24px;
}

.order-basket h2 {
  text-align: center;
}

.shopping-cart {
  display: flex;
  width: 120px;
  height: 120px;
}

.basket-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  background-color: var(--beige-light);
  border-radius: 20px;
}

.basket-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon img {
  width: 16px;
  height: 18px;
}

.delete-icon {
  /* filter: invert(0%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(100%) contrast(100%); */
  /* filter: invert(47%) sepia(94%) saturate(1947%) hue-rotate(352deg)
    brightness(96%) contrast(88%); */
  padding: 4px;
  border-radius: 4px;
}

.delete-icon:hover {
  filter: invert(47%) sepia(94%) saturate(1947%) hue-rotate(352deg)
    brightness(96%) contrast(88%);
}

.amount-btn:hover {
  color: var(--orange);
}

.basket-item-bottom-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.basket-items-section-wrapper {
  display: flex;
  overflow-y: auto;
  flex-direction: column-reverse;
}

.basket-items-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.calc-price-section {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  gap: 24px;
}

.buy-now-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 12px 48px;
  background-color: var(--orange);
  border: 1px solid transparent;
  border-radius: 60px;
}

.buy-now-btn:hover {
  background-color: rgba(231, 108, 31, 0.8);
}

.buy-now-btn:active {
  border-color: white;
}

.calc-table {
  width: 100%;
  line-height: 1;
}

.calc-table tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.calc-table tr:nth-child(3) {
  height: 3px;
  background-color: white;
  border-radius: 1.5px;
}

.basket-items-section-wrapper {
  --sb-track-color: #363534;
  --sb-thumb-color: #facaac;
  --sb-size: 26px;
}

.basket-items-section-wrapper::-webkit-scrollbar {
  width: var(--sb-size);
}

.basket-items-section-wrapper::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.basket-items-section-wrapper::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  border: 10px solid #363534;
}

@supports not selector(::-webkit-scrollbar) {
  .basket-items-section-wrapper {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.basket-item button {
  border: none;
  background-color: transparent;
}

.plus-one-btn {
}

.name-dlt-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* #endregion */

/* #region confirmation dialog */

.confirmation-dialog {
  position: fixed;

  top: 35dvh;
  justify-self: center;

  padding: 32px 40px;

  background-color: var(--grey-dark);
  border-radius: 30px;
  outline: none;
  border: none;
  opacity: 1;
  /* transition: opacity 1s ease-in-out 5s; */
}

.confirmation-dialog-closed {
  opacity: 0;
  transition: opacity 1s ease-in-out 5s;
}

.confirmation-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-content-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 26px;
}

.close-confirmation-dialog-btn {
  align-self: flex-end;
  background-color: transparent;
  padding: 0;
  outline: none;
  border: none;
}

.close-confirmation-dialog-btn img {
  width: 16px;
  height: 16px;
}

.burger-truck {
  align-self: center;
  width: 80px;
  height: 60px;
}

/* #endregion */
