/* #region palanquin */
/* palanquin-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/palanquin-v17-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/palanquin-v17-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/palanquin-v17-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/palanquin-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/palanquin-v17-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/palanquin-v17-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/palanquin-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* #endregion */

/* #region palanquin dark */
/* palanquin-dark-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin Dark";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/palanquin-dark-v17-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-dark-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin Dark";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/palanquin-dark-v17-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-dark-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin Dark";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/palanquin-dark-v17-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-dark-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Palanquin Dark";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/palanquin-dark-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* #endregion */

* {
  line-height: 1.2;
}

body {
  font-family: "Palanquin";
  color: var(--grey-dark);
}

header nav a {
  color: white;
  font-size: 24px;
}

header nav a:hover {
  text-decoration: underline;
}

button {
  font-family: "Palanquin";
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-family: "Palanquin Dark";
  font-size: 48px;
  font-weight: 700;
}

h1 span:first-child {
  color: var(--orange);
}

.rating-box p:nth-child(2) {
  font-family: "Palanquin Dark";
  font-size: 20px;
}

.rating-box p:nth-child(3) {
  color: var(--grey-light);
  font-size: 18px;
}

.food-sections-seperator h2 {
  font-size: 40px;
  color: white;
}

.pizza-cm {
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

.dish-price {
  font-size: 24px;
  font-weight: 600;
}

.dish-components {
  font-weight: 500;
}

.add-to-basket-btn {
  font-size: 16px;
  font-weight: 600;
  color: var(--grey-dark);
}

footer {
  font-size: 18px;
  color: white;
}

.order-basket {
  color: var(--beige-light);
}

.order-basket h2 {
  font-size: 32px;
  font-weight: 700;
}

.basket-item {
  color: var(--grey-dark);
}

.basket-item {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}

.basket-item-bottom-left button {
  font-size: 24px;
  font-weight: 600;
  color: var(--grey-dark);
}

.buy-now-btn {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.calc-table th,
td {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.calc-table tr:last-child td {
  font-size: 20px;
  font-weight: 700;
}

.calc-table tr:last-child th {
  font-size: 20px;
  font-weight: 700;
}

.confirmation-dialog-text {
  color: var(--beige-light);
  font-weight: 700;
  line-height: 1.4;
}

.confirmation-dialog-text p:first-child {
  font-size: 42px;
}

.confirmation-dialog-text p:last-child {
  font-size: 24px;
}

@media screen and (max-width: 1280px) {
  .basket-item {
    font-size: 20px;
  }

  .buy-now-btn {
    font-size: 22px;
  }
}

@media screen and (max-width: 1000px) {
  .order-basket h2 {
    font-size: 24px;
    font-weight: 700;
  }

  .buy-now-btn {
    font-size: 18px;
  }

  .basket-item {
    font-size: 18px;
  }
}
