:root {
  --orange: rgba(231, 108, 31, 1);
  --grey-dark: rgba(54, 53, 52, 1);
  --grey-light: rgba(114, 109, 109, 1);
  --beige-dark: rgba(250, 202, 172, 1);
  --beige-light: rgba(253, 234, 220, 1);

  --padding-content: 0px max(calc(50% - 720px), 24px);
  --padding-content-x: max(calc(50% - 720px), 24px);

  --border-radius-dish: 12px;
}
